PyQt6==6.5.0
PyQt6-WebEngine>=6.4.0
numpy==1.24.3
librosa==0.10.0
matplotlib==3.7.1
requests==2.32.2
beautifulsoup4>=4.13.4
scipy==1.10.1
sounddevice>=0.5.0
soundfile==0.12.1
tqdm>=4.67.1
PyAudio==0.2.13
pydub>=0.25.1
Pillow==10.3.0
bs4==0.0.1 